.restaurantItems {
  display: grid;
}

.addBtn {
  position: fixed;
  z-index: 2;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  bottom: 5px;
  right: 2px;
}

.addBtn div {
  width: 40px;
  height: 2px;
  background-color: white;
  position: relative;
}

.addBtn div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  transform: rotateZ(90deg);
}

.popup {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  padding: 20px;
}

.spinnerontainer {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerontainer1 {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
  color: #bbbbbb;
}
