.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.title {
  font-size: 2em;
  font-weight: 900;
  color: var(--color-text);
  text-transform: uppercase;
}

.back {
  font-size: 2em;
  font-weight: 700;
  color: var(--color-red);
  text-transform: capitalize;
  cursor: pointer;
}

.container input[type=search]{
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
  appearance: none; /* rest */
}
.container input{
  height: 44px;
  min-width: 350px;
  border: 0;
  border-radius: var(--border-radius-md);
  font-size: 18px;
  font-weight: 900;
  box-sizing: border-box;
  padding: 0 20px;
  color: var(--color-dark-gray);
}

.container input::-webkit-input-placeholder { /* Edge */
  font-weight: 500;
  color: var(--color-light-gray);
}
.container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 500;
  color: var(--color-light-gray);
}
.container input::placeholder {
  font-weight: 500;
  color: var(--color-light-gray);
}

.container input:disabled {
  background-color: var(--color-lighter-gray);
  cursor: not-allowed;
}