.Landing {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BackgroundSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  margin-bottom: 60px !important;
}

.LoginToggler {
  width: 100%;
  text-align: left !important;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-light-gray);
  margin-top: 30px;
}

.LoginToggler span {
  color: var(--color-red);
  cursor: pointer;
}

.BackgroundSmall form {
}

.BackgroundSmall form input {
  height: 56px;
  margin-bottom: 10px;
  width: 320px;
  max-width: 100%;
}

.errorMsg {
  color: red;
  opacity: 0.66;
  text-align: center;
}
